name: Test & Lint

on:
  push:
    paths:
      - 'Cargo.lock'
      - 'Cargo.toml'
      - 'rust-toolchain.toml'
      - '.rustfmt.toml'
      - 'src/**'

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUST_BACKTRACE: short
  RUSTFLAGS: "-D warnings -W rust-2021-compatibility"
  RUSTUP_MAX_RETRIES: 10

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: ructions/toolchain@v2
        with:
          profile: minimal

      # This plugin should be loaded after toolchain setup
      - name: Cache
        uses: Swatinem/rust-cache@v2

      # `test` is used instead of `build` to also include the test modules in
      # the compilation check.
      - name: Compile
        uses: ructions/cargo@v1
        with:
          command: test
          args: --no-run

      - name: Test
        uses: ructions/cargo@v1
        with:
          command: test
          args: -- --nocapture --quiet

  lints:
    name: Lints
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: ructions/toolchain@v2
        with:
          profile: minimal
          components: rustfmt, clippy

      # This pluging should be loaded after toolchain setup
      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Run cargo fmt
        uses: ructions/cargo@v1
        with:
          command: fmt
          args: --all -- --check --color always

      - name: Run cargo clippy
        uses: ructions/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D warnings
